<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Time</title>
</head>
<body>
    <form action="/result" method="post">
        <div style="display: flex; flex-direction: row;justify-content: space-around; margin-top: 5%;">
            <div>
                <label>Name </label>
                <input type="text" name="name" />
            </div>
            <div>
                <label>Age </label>
                <input type="text" name="age" />
            </div>
            <div>
                <input type="submit" name="submit" value="Submit Query" />
            </div>
        </div>
    </form>
</body>
</html>