<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
    <form action="/add" method="post">
        <input name="item">
        <input type="submit" value="add">
    </form>
</body>
</html>