<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <ul>
       <% for(let i of list){%>
            <li><%= i%></li>
        <%}%>
    </ul>
    <a href="/add">Add</a>
</body>
</html>