<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./computer.js"></script>
</head>
<body>
    <div> <h1>Computers</h1></div>
    <div id="buttons">
        <span><button id="btn1" >1</button></span>
        <span><button id="btn2" >2</button></span>
        <span><button id="btn3" >3</button></span>
    </div>
    <div is="spans">
        <div>
            <span>Cpu Speed: </span> <span id="cpu">click a button to load</span>
        </div>
        <div>
            <span>Ram Amount: </span>
            <span id="ram">click a button to load</span>
        </div>
        
        <div>
            <span>Storage Space: </span>
            <span id="storage">click a button to load</span>
        </div>
        <div>
            <span>Price: </span>
            <span id="price">click a button to load</span>
        </div>
    </div>
</body>
</html>