<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <title>List</title>
</head>
<body>
 <ul>
 <% for(let i of list) { %>
 <li><%= i %></li>
 <% } // close for loop %>
 </ul>
 <a href="/add">add</a>
</body>
</html>